name: Commit Notification

on:
  push:
    branches: [ main, master ]

jobs:
  notify:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Show commit info
        run: |
          echo "Коммит успешно произведен!"
          echo "Автор: ${{ github.actor }}"
          echo "Хэш коммита: ${{ github.sha }}"
          echo "Сообщение коммита: ${{ github.event.head_commit.message }}"
